<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../resources/css/menu.css">
</head>
<body>
    <nav class="menu-top navbar navbar-default navbar-fixed-top">
        <section class="container">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#movelmenu"
                        area-expanded="false">

                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="#" class="navbar-brand">
                    Fonteneblue Café
                </a>
            </div>

            <div class="collapse navbar-collapse" id="movelmenu">
                <ul class="nav navbar-nav">
                    <li><a href="home.html">Home</a></li>
                    <li><a href="info.html">Info</a></li>
                    <li><a href="special-events.html">Special Events</a></li>
                    <li><a href="dvd.html">DVD</a></li>
                    <li><a href="location.htm">Location</a></li>
                    <li><a href="menu.html">Menu</a></li>
                    <li><a href="review.html">Review</a></li>                
                </ul>
                <button type="button" class="btn btn-primary navbar-btn">Login</button>
            </div>
        </section>
    </nav>
</body>
</html>
