@charset "UTF-8";

.address {
    height:initial;
    background-image: url(../../includes/images/);
    background-repeat: no-repeat;
    padding: 3em 2em 3em 2em;
}


div.description-container {
    float: left;
    width: 45%;
    height: 15em;
    z-index: 1;
    padding: 0;
}

div.map-container {
    float: right;
    width: 45%;
    height: 15em;
    z-index: 1;
    padding: 0;
}

div.background-map-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(10, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    z-index: -1;
}


div.address-description {
    width: 100%;
    height: 80%;
    position: relative;
    float: right;
    margin: 3.5% 0;
    padding: 0;
    text-align: center;
    border: #fff solid 1px ;
    border-radius: 35px;
}

div.address-map {
    width: 100%;
    height: 80%;
    position: relative;
    float: left;
    margin: 3.5% 0;
    padding: 0;
}

div.address-map map iframe {
    width: 100%;
    height: 100%;
    border-radius: 35px;
}

#address-icon {
    position: relative;
    top: -0.2em;
    width: 1.5em;
    margin-right: 0.50%;
}

@media(max-width: 770px) {
    .address {
        padding: 3em 1em 2em 1em;
    }
    
    
    div.description-container {
        float: none;
        width: 90%;
        clear: both;
    }
    
    div.map-container {
        float: none;
        width: 90%;
        height: 15em;
        clear: both;
    }
    
    div.address-description {
        width: 100%;
    }
    
    div.address-map {
        width: 100%;
    }   
}