footer {
    background-color: #D3D3D3;
}

@media (max-width: 1920px) {
    footer {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .footer-col-left {
        width: 50%;
        height: 7em;
    }
    
    .footer-col-right {
        width: 50%;
        height: 7em;
    }

    .brand {
        width: 8em;
        height: 5em;
        position: relative;
        float: right;
        top: 15%;
    }

    .brand img {
        position: relative;
        top: -4%;
    }

    .description-logo {
        width: 23em;
        height: 5.5em;
        position: relative;
        float: left;
        top: 15%;
        right: 1.5em;
        border-left: 1.5px solid #4F4F4F;
        padding-left: 3em;
    }

    .description-logo h3 {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        color:	#4F4F4F;
        text-align: left;
        margin: 2% 0 2% -2%;
    }

    .description-logo p {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        color:	#4F4F4F;
        text-align: start;
        margin: -8.5% 0 2% 8%;
    }

    .description-logo p a {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        color:	#4F4F4F;
        text-decoration: none;
        text-underline-position: unset;
    }

    .description-logo img {
        position: relative;
        width: 1.3em;
        left: -2%;
        top: -5%;
        opacity: 70%;
    }
}


@media (max-width: 1170px) {
    footer {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .footer-col-left {
        width: 50%;
        height: 7em;
    }
    
    .footer-col-right {
        width: 50%;
        height: 7em;
    }

    .brand {
        width: 8em;
        height: 5em;
        position: relative;
        float: right;
        top: 15%;
    }

    .brand img {
        position: relative;
        top: -4%;
    }

    .description-logo {
        width: 25em;
        height: 5em;
        position: relative;
        float: left;
        top: 15%;
    }

    .description-logo h3 {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        color:	#4F4F4F;
        text-align: left;
        margin: 2% 0 2% -4%;
    }

    .description-logo p {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        color:	#4F4F4F;
        text-align: start;
        margin: -8.5% 0 0 5%;
    }

    .description-logo p a {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        color:	#4F4F4F;
        text-decoration: none;
        text-underline-position: unset;
    }

    .description-logo img {
        position: relative;
        width: 1.3em;
        left: -4%;
        top: -5%;
        opacity: 70%;
    }
}


@media (max-width: 1005px) {
    footer {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .footer-col-left {
        width: 50%;
        height: 7em;
    }
    
    .footer-col-right {
        width: 50%;
        height: 7em;
    }

    .brand {
        width: 8em;
        height: 5em;
        position: relative;
        float: right;
        top: 15%;
    }

    .brand img {
        position: relative;
        top: -4%;
    }

    .description-logo {
        width: 25em;
        height: 5em;
        position: relative;
        float: left;
        top: 15%;
    }

    .description-logo h3 {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        color:	#4F4F4F;
        text-align: left;
        margin: 2% 0 2% -4%;
    }

    .description-logo p {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        color:	#4F4F4F;
        text-align: start;
        margin: -8.5% 0 0 5%;
        
    }

    .description-logo p a {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        color:	#4F4F4F;
        text-decoration: none;
        text-underline-position: unset;
    }

    .description-logo img {
        position: relative;
        width: 1.3em;
        left: -4%;
        top: -5%;
        opacity: 70%;
    }
}


@media (max-width: 770px) {
    footer {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .footer-col-left {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 6em;
    }
    
    .footer-col-right {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 6em;
    }

    .brand {
        float: none;
        width: 8em;
        height: 5em;
        position: relative;
        top: 15%;
    }

    .brand img {
        position: relative;
        top: -5%;

    }

    .description-logo {
        float: none;
        width: 25em;
        height: 5em;
        position: relative;
        top: 0%;
        border-left: none;
    }

    .description-logo h3 {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        color:	#4F4F4F;
        text-align: center;
        margin: 1% 0;
    }

    .description-logo p {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        color:	#4F4F4F;
        text-align: center;
        margin: -6% 0 0 5%;
        
    }

    .description-logo p a {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        color:	#4F4F4F;
        text-decoration: none;
        text-underline-position: unset;
    }

    .description-logo img {
        position: relative;
        width: 1.3em;
        left: 5%;
        top: -3%;
        opacity: 70%;
    }

    .description-logo #call {
        left: 17%;
    }    
}

div.copyright {
    width: 100%;
    height: 5em;
    margin: 2.5em 0 0 0;
    padding: 2% 0 0;
    text-align: center;
    clear: both;
}