@charset "UTF-8";

@media (max-width: 1920px) {
    div.navbar-logo {
        margin: 2.5% -30%;
    }

    div.menu-container {
        position: relative;
        float: left;
        width: 60%;
    }

    div ul.navbar-menu {
        margin: 1% 20%;
    }

    div.social-media-container {
        float: right;
        width: 22%;
        top: 0 !important;
        left: 0 !important;
        margin: 2% 0;
        padding: 0;
        text-align: center;
    }

    div.social-media-container ul {
        width: 100%;
        top: 0 !important;
        left: 0 !important;
        margin: 0 0 0 0!important;
        padding: 0 !important;
    }

    div.social-media-container ul li {
        width: 25%;
        margin: 0 0 0 0 !important;
        padding: 0 0 0 0 !important;
    }
    div.social-media-container ul li a{
        margin: 0;
        padding: 0;
    }
}


@media (max-width: 1170px) {
    div.navbar-logo {
        margin: 2.5% -20%;
    }

    div.menu-container {
        left: -18%;
        width: 58%;
        background-color: aqua;
    }

    div ul.navbar-menu {
        margin: 1% 14%;
    }

    div.social-media-container {
        margin: 2% 1%;
    }
}


@media (max-width: 1005px) {
    .navbar-social-media {
        display: none !important;
    }
}

@media (max-width: 1005px) {
    .navbar-social-media {
        display: none !important;
    }
}

@media (max-width: 770px) {
    .navbar-social-media {
        display: block !important;
    }

    /*Menu de Navegação*/
    div ul.navbar-menu {
        left: 0em !important;
    }


    /*Redes Sociais*/
    ul.navbar-social-media {
        left: 1em !important;
    }

    ul.navbar-social-media li a {
        margin: 1.5em 0 1.5em 0;
        padding: 0;
    }
    
    ul.navbar-social-media li a img {
        height: 2.5em !important;
    }
}

nav.menu-top {
    margin-bottom: -1.5em !important;
}

nav {
    border-style: none;
    background-color: #800000 !important;
    border-style: none;
    z-index: 1;
}

section {
    margin: 0;
    padding: 0;
    width: 100%;
}

/*Logomarca*/

a.navbar-brand {
    height: inherit;
    width: 10em;
}


div.logo-icon {
    float: left;
}

div.logo-icon img {
    position: relative;
    top: -0.2em;

}

div.logo-name {
    position: relative;
    top: 0em;
    left: 1em;
    color: darkgray;
    font-size: 130%;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div.logo-name:hover {
    color: #fff;
}

div#menu-button ul li a {
    color: darkgray;
    font-size: 100%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

div#menu-button ul li a:hover {
    color: #fff;
    background: none;
}


/*Menu de Navegação*/
div ul.navbar-menu {
    position: relative;
}


/*Redes Sociais*/
ul.navbar-social-media {
    position: relative;
    list-style: none;
    left: 9em;
}

ul.navbar-social-media li {
    display: inline-block;
}

ul.navbar-social-media li a {
    margin: 1.2em 1em 0 0;
    padding: 0;
}

ul.navbar-social-media li a img {
    height: 1.6em;
    
}
