@charset "UTF-8";

main.container {
    margin: 0;
    padding: 3em 0 0 0;
    width: 100%;
    background-color: #f2f2f2;
}

.title-h1 {
    font: bold;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
    color: #5c0a0a;
    margin: 3% 0;
    padding-bottom: 2%;
}

.text-p-center {
    font-size: 1.7em;
    font-style: normal;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #5c0a0a;
    text-align: justify;
    word-spacing: 100%;
    text-indent: 5%;
}

.griffs {
    font-weight: bold;
}

@media(max-width: 770px) {
    main.container {
        margin-top: -2.5em;
    }
}